<% provide(:title, 'Admin') %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @admin.email %>
			</h1>
		</section>
	</aside>
</div>


	<!-- <p>
		This page will be able to create posts
	</p> -->