<footer class="footer">
	<small>
		<p>Developed by Aaron Flower</p>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Resources", '#' %></li>
			<li><%= link_to "About", '#' %></li>
		</ul>
	</nav>
</footer>