<footer class="footer">
	<small>
		<p>Developed by Aaron Flower</p>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Resources", resources_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Sign in", signin_path %></li>
		</ul>
	</nav>
</footer>